
// Fonts
@import url("https://fonts.proxy.ustclug.org/css?family=Raleway:100,300,400,600");
@import url("https://at.alicdn.com/t/font_618316_auhjbzl59hk6gvi.css");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.jumbotron {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 2;
}

h1 {
  font-size: 4em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 100;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  font-weight: 100;
}

/* header */

header {
  #logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-decoration: none;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover {
      color: #fff;
    }
  }
  .nav-item {
    float: right;
    margin-left: 10px;
    font-size: 1em;
    color: #dcdcdc;
    text-decoration: none;
    padding-top: 9px;
    &:hover {
      color: #f8f8ff;
    }
  }
}

/* footer */

footer {
  #links{
  .nav-item {
    float: right;
    font-size: 1em;
    color: #dcdcdc;
    text-decoration: none;
    padding-top: 9px;
    &:hover {
      color: #f8f8ff;
    }
  }
  p{
    font-size: 35px;
  }
  li {
    padding-right: 25px;
    padding-left: 25px;
  }
  .navbar-text {
    font-size: 35px;
    color: #dcdcdc;
  }
  }
}

/* sider */

/* sidebar */

aside {
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
  }
}

section.user_info {
  padding-bottom: 10px;
  margin-top: 20px;
  text-align: center;
  .gravatar {
    float: none;
    max-width: 70px;
  }
  h1 {
    font-size: 1.4em;
    letter-spacing: 1px;
    margin-bottom: 3px;
    margin-top: 15px;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  max-width: 50px;
  border-radius: 50%;
}
